{erl_opts, [debug_info,{parse_transform, lager_transform}]}.
{deps, [
	{lager, "3.5.2"},
  	{emysql, {git, "https://github.com/inaka/Emysql.git", {branch, "master"}}},
  	{erlsom,{git,"https://github.com/willemdj/erlsom.git",{branch,"master"}}},
  	{cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}}
  	
  	
  	
  	
  	
  %%{lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
]}.
{deps_dir,["deps"]}.

{relx, [{release, { gateway, "0.1.0" },
         [gateway,sasl,websocket]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{plugins, [
  {rebar3_gpb_plugin, "1.12.0"} % Good practice to specify which version to use
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.